html{
    height:100%;
}

body{
    height:100%;
    margin:0;
    background-color:grey;
    color:white;
}

.container{
    height: 120px;
    background-color:blue;
}

.meni {
    width:100%;
    height:120px;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
   width: 110px;
   background-color:blue;
   color: white;
}

footer{display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    width:100%;
    height: 10%;
    margin-bottom: 0;
    background-color:white;
}

p{
    margin: 0;
    align-items: center;
}

footer{
    color: black;
}

img{
    height:300px;
    width: 300px;
}
